In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("cleaned_data.csv")

In [3]:
df

,Unnamed: 0,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,Female,80,0,1,never,25.19,6.6,140,0
1,1,Male,28,0,0,never,27.32,5.7,158,0
2,2,Female,36,0,0,current,23.45,5.0,155,0
3,3,Male,76,1,1,current,20.14,4.8,155,0
4,4,Female,20,0,0,never,27.32,6.6,85,0
...,...,...,...,...,...,...,...,...,...,...
64179,64179,Female,26,0,0,never,34.34,6.5,160,0
64180,64180,Female,40,0,0,never,40.69,3.5,155,0
64181,64181,Male,66,0,0,former,27.83,5.7,155,0
64182,64182,Female,24,0,0,never,35.42,4.0,100,0
64183,64183,Female,57,0,0,current,22.43,6.6,90,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64184 entries, 0 to 64183
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           64184 non-null  int64
 1   gender               64184 non-null  object
 2   age                  64184 non-null  int64
 3   hypertension         64184 non-null  int64
 4   heart_disease        64184 non-null  int64
 5   smoking_history      64184 non-null  object
 6   bmi                  64184 non-null  float64
 7   HbA1c_level          64184 non-null  float64
 8   blood_glucose_level  64184 non-null  int64
 9   diabetes             64184 non-null  int64
dtypes: float64(2), int64(6), object(2)
memory usage: 4.9+ MB

In [8]:
column_types = df.dtypes

In [9]:
column_types

Unnamed: 0               int64
gender                  object
age                      int64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

In [10]:
column_names = df.columns

In [12]:
column_names

Index(['Unnamed: 0', 'gender', 'age', 'hypertension', 'heart_disease',
       'smoking_history', 'bmi', 'HbA1c_level', 'blood_glucose_level',
       'diabetes'],
      dtype='object')

## Data cleaning

In [14]:
df['age'] = df['age'].astype("int64")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64184 entries, 0 to 64183
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           64184 non-null  int64
 1   gender               64184 non-null  object
 2   age                  64184 non-null  int64
 3   hypertension         64184 non-null  int64
 4   heart_disease        64184 non-null  int64
 5   smoking_history      64184 non-null  object
 6   bmi                  64184 non-null  float64
 7   HbA1c_level          64184 non-null  float64
 8   blood_glucose_level  64184 non-null  int64
 9   diabetes             64184 non-null  int64
dtypes: float64(2), int64(6), object(2)
memory usage: 4.9+ MB

In [16]:
df["gender"].value_counts()

Female    38864
Male      25320
Name: gender, dtype: int64